@import "css/variables.less";
@import "css/mixins.less";

@font-face{ font-family: 'lobster'; src: url('fonts/lobster-webfont.eot'); src: url('fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lobster-webfont.woff') format('woff'), url('fonts/lobster-webfont.ttf') format('truetype'), url('fonts/lobster-webfont.svg#webfont') format('svg'); }

@column:14.5%;

//Définitions générales
body{
  background:url('images/background.png')  #272a20 50% 0 no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

h1, .h1, .h1-like{
  font-family: 'lobster', Arial, sans-serif;
  font-size: 4.5em;
  line-height: 1.2em; 
  margin-top:0.5em; 

  }

h2,.h2{
  font-family: 'lobster', Arial, sans-serif;
  color:#545a43;
  font-size:3.8em;
  margin-bottom:0.31em;}
  
h3,.h3{
  font-size:1em;
  text-align:center;
  border-bottom:0.35em @linkColor solid;
  
  } 
  
.more{font-size:0.75em;font-weight:bold} 
/*Layout*/

.row,.span8 {
    width: 100%;
}

#nav{
  position:relative;
  text-align:center;
  margin:0 auto;
  width:36em;
  font-family: 'lobster', Arial, sans-serif;
  font-size:1.6em;
  .menu-items{width:100%}
  li{margin: -1.2em 0.1em 0.1em;}
  .logo{padding-top:1.2em}
  }



/*Menu*/
.subMenu{
  width: 100%;
  position: relative !important;
  top: 0px;
  z-index: 1000;
  }
.subMenu.fxd{width:100%}

ul.menu {
  li{float:left;list-style:none;margin:0 0.5em
  }
}

.navbar-inverse .nav > li > a.active{color:red;font-weight:bold}

.navbar-inner {
  box-shadow:none;
}

/*Les différentes blocs*/

 .section{min-height:400px;clear:both;}
 
 .inner {
   background:#ffffff;padding: 1em 2.5em;
   .menu li{width:@column}
   }


  /*Intro*/
  .section.intro{
    margin-top:@navbarHeight;
    color:white;
    text-align:center;
    .descriptif_site{width:50%;margin:0 auto}
    a{color:#000000}
    .inner{background:transparent;}
    .nav_hor{
      
      clear:both;
      height:10em;
      h2{
        font-family:@sansFontFamily; 
        color:#ffffff;
        font-size: 1.6em;
        margin: 0 0 -4px;
        text-align: left;
        text-transform: uppercase;
        }
      ul{margin: 0;}
      ul.parties{
        background:#ffffff;
        height:6em;
        li{margin-top:12px}
        }
      }
     
    }
  
  /*Video*/
 .section.video{
   text-align:center;
   .inner{background:transparent;}
  .player{min-height:400px;}
  .action{display:block;}
  }
  
/*Thématiques*/
.section.thematiques{
  .main{font-size:1.5em;}
  .descriptif{margin-bottom:1.2em;}
  ul{
    overflow:hidden;
    margin:0;
    }
  li{
    width:45%;
    font-size:75%;
    margin:0 0 1em 0;
    .left{margin-right:2%}
    .right{margin-left:2%}    
    }
    h3 {padding-bottom:0.45em;
      img{margin-bottom:0.5em}
      }
   .texte{font-size:90%}
   .left{clear:left}
   .right{clear:right}
}
/*Les modalboxes*/
.modalbox {
  .action{text-align:center;}  
}

.nav{position:relative}

/*les iframes*/

.thematiques body{
  background:none #ffffff;
  
  
  .modalbox.articles{
    text-align:center;
    a.browse {
      top:80px;
      }
    }
  .modalbox.article{
    strong{color:@linkColor};
    }

  .texte{  line-height:normal;}
  
  .modalboox.articles{text-align:center;}
  .modalbox.article{
    .texte {
      strong{color:@linkColor;}
      }
    }  
  div.logos{height:6.5em}
  .container{width:100%;}
  h1,.h1{
    color:@linkColor;
    border-bottom:0.071em @linkColor solid;
    display: inline-block;
    margin :0 auto; 
    margin-bottom:0.5em;
    padding-bottom:0.1em
    }  
  .section.thematiques{
    .descriptif{font-size:1.2em;}
    li {
    font-size: 83%;
    width: @column;
    margin: 0 auto 0.4em 0;
    padding: 1em 0.7em;    
    }
    
  } 
  }

