@import "css/variables.less";
@import "css/mixins.less";

@font-face{ font-family: 'lobster'; src: url('fonts/lobster-webfont.eot'); src: url('fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lobster-webfont.woff') format('woff'), url('fonts/lobster-webfont.ttf') format('truetype'), url('fonts/lobster-webfont.svg#webfont') format('svg'); }

@column:16%;
@titleColor:#545a43;

//Définitions générales
body{
  background-color:  #272a20;
  background-image: url("images/elections.png"), url('images/logo.png'), url('images/background.png'); 
  background-position:  0 0,100% 100%,50% 0;
  background-repeat: no-repeat;
  background-size: auto,auto;
  background-attachment:fixed;
}

h1, .h1, .h1-like{
  font-family: 'lobster', Arial, sans-serif;
  font-size: 4.5em;
  line-height: 1.2em; 
  margin-top:0; 
  margin-bottom: 0.414286em;
  font-weight:normal;
  }

h2,.h2{
  font-family: 'lobster', Arial, sans-serif;
  color:#545a43;
  font-size:3.5em;
  margin-bottom:0.31em;
    font-weight:normal;}
  
h3,.h3,th{
  font-size:1em;
  text-align:center;
  border-bottom:0.35em @linkColor solid;
  
  } 


/*Menu horizontal*/
#nav{
 overflow:hidden;
   position:relative;
  float:left;
   width:100%;   
  text-align:center;
  font-family: 'lobster', Arial, sans-serif;
  font-size:1.4em;
  font-weight:normal;
  .menu-items{margin:0 auto;}
  li{margin: -1.2em 0.1em 0.1em;}
  .logo{padding:0 0.5em;width:7em}
  }

#nav ul{
    clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
   li{
    display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   width:8em
   }
}

.navbar .nav{margin:0}

.navbar .nav > li > a {
    padding: 55px 0;

}


.subMenu{
  width: 100%;
  position: relative !important;
  top: 0px;
  z-index: 1000;
  }
.subMenu.fxd{width:100%}

//Général*/

 #outils_embobiner {
    background-color: transparent;
    position:fixed;
    margin: 5px;
    opacity: 1;
    padding: 5px;
    right: 0;
    top:0;
    text-align: center;
    width: 24px;
 
    div.socialtags {
    margin: 0;
    padding: 0;
    ul li {
      display:block;
      margin: 2px 0 1px;
      }
    }
  } 

.cartouche {
    margin-bottom: 1em;
}

.more{font-size:0.75em;font-weight:bold} 

  .left,.right{
    width:45%;
  } 
  
.main{
  dl{
    padding: 1%;
    width: 23%;
    margin:0;
    }
    dt{
      padding:0;margin:0;
      }
    dr.titre{width: auto !important}
    
}

#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
/*Layout*/


.row,.span8 {
    width: 100%;
    margin:0;
}

ul.menu {
  li{float:left;list-style:none;margin:0 0.5em
  }
}

.descriptif{font-size:1.2em; margin-bottom:1.2em;}
.texte{font-size:1em}  
.navbar-inner {
  box-shadow:none;
}

/*Les différentes blocs*/

 .section{
   margin-bottom:3em;
   clear:both;
   }
 
 .inner {
   background:#ffffff;padding: 1em 2.5em;
   .menu.thematiques li{
     width:@column;
     line-height: 1.2em;}
   .nav_hor.parties{
     li{width:14.7%;}
     
    }
   }


  /*Intro*/
  .section.intro{
    margin-top:112px;
    color:white;
    text-align:center;
    .descriptif_site{width:60%;margin:0 auto}
    a{color:#000000}
    .inner{background:transparent;}
    .nav_hor{
      width: 85%;
      clear:both;
      height:10em;
      margin:0 auto;

   h2{
        font-family:@sansFontFamily; 
        color:#ffffff;
        font-size: 1.3em;
        margin: 0 0 -4px;
        text-align: left;
        text-transform: uppercase;
        }
      ul{margin: 0;}
      ul.parties{
        background:#ffffff;
        height:6em;
        overflow:hidden;
        li{margin-top:12px}
        }
      }
     
    }
  
  /*Video*/
 .section.video{
   text-align:center;
   .inner{background:transparent;}

  .player{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    margin: 4em 0 2em;
    }
  .player iframe,
  .player object,
  .player embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

  }
  .action{display:block;}
  }
  
/*Thématiques*/
.section.thematiques{
    .rub_themes{
      .descriptif{
        font-size:1.1em;
        line-height: 1.2em;}
    }

  ul{
    overflow:hidden;
    margin:0;
    }
  li{
    font-size:1em;
    margin:0 0 1em 0;
    .left{margin-right:2%}
    .right{margin-left:2%}    
    }
    h3 {padding-bottom:0.45em;
      img{margin-bottom:0.5em}
      }

   .left{clear:left}
   .right{clear:right}
}

/*Baromètre*/
.barometre {
    p{clear:left}

    .spip_documents_left{
      width:11% !important;
      text-align:left;
      margin: 0 1% 2% 0;
      img{margin:0;}
      
      }

  }
table.spip th, table.spip td {border-top:none;}
table.spip tbody > tr:nth-child(2n+1) > td, table.spip tbody > tr:nth-child(2n+1) > th {
    background-color: transparent;
}

/*Qui sommes nous?*/

.section.fomulaire_contact{

  h3{
    font-size:1.1em;
    padding-bottom:0.5em} 
}

/*les iframes*/
.modalbox {
  background:#ffffff;  padding:1em 3.5em;
  .action{text-align:center;}  
}

.nav{position:relative}


.thematiques body{
  background:none transparent;
  text-align:center;  
  .inner{
    background:transparent;
    padding:2.5em}
  .logo {
    margin:0;
    padding:0;
    text-align:center;
    img{
      position:absolute;
      top:-35px;
      left:47%}
    }
  
    .texte{  line-height:normal;}
  
    div.logos{height:6.5em}
    .container{width:100%;}
    h1,.h1{
      color:@titleColor;
      border-bottom:0.071em @titleColor solid;
      display: inline-block;
      margin :0.2em auto 0.3em auto; 
      padding-bottom:0em;
      line-height: 1.1em;
      font-size:4.3em;
      }  
    .section.thematiques{
      .descriptif,.chapo{font-size:1.2em;font-weight:normal}
      li {
        font-size: 2em;
        width: @column;
        margin: 0;
        padding: 1em 0;  
        font-size: 0.8em;  
        }
      }
    .modalbox.articles{
      .descriptif,.texte{text-align:center}
      a.browse {
        top:80px;
        }
      li {
          width: 16.5%;
      }
      .next{right:4em;}
      .prev{left:4em;}      
      }
    .modalbox.article{
       h1{
          img{margin-bottom:0.2em;}
          a{color:@titleColor;}
          
          }     
      .texte{
        text-align:left;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px; 
          strong{
            color:@linkColor;
            display:block;
            margin-bottom: -0.9em;
            font-weight:normal;
            }          
        }
    }
  .modalbox.parti{
    .themes{position:relative;}
    .scrollable{height:29em}
    .texte{font-size:100%}
     li{
      width:19%;
      padding:0;
      margin: 0 0.2%;
    }
    .titre a{color:#000000;font-weight:bold}
    } 
  }


@media (min-width: 1200px) {
  .container {
      width: 1000px;
    }
}

@media (max-width: 979px) {
  body{
   background-attachment: fixed;
    background-clip: border-box;
    background-color: #272A20;
    background-image: url("images/elections.png"), url("images/background_small.jpg");
    background-origin: padding-box;
    background-position: 0 0px, 50% 0;
    background-repeat: no-repeat;
    background-size: 15% auto, cover;    
  }

.section.intro .descriptif_site {
    font-size:0.8em;  }
  #nav {font-size:1.25em;}
  
 .inner {
    .menu.thematiques li {
    width: 14.5%;
  }
  .nav_hor.parties li {
    width: 13%;
    }
  }

.thematiques body {
  li{     
     .texte {margin-bottom: 0.2em;}  
     }
  .modalbox.articles {
    li {
    width: 16.5%;
    }
  
  }
  .modalbox.parti li {  
      width: 19.5%;
    }  
  }
  .navbar-responsive {
    right: 0px;
  }
}

@media (max-width: 767px) {
  body{line-height:1.2em}
  #content{font-size:0.9em}
  
  h1, .h1, .h1-like{
    font-size:2.5em;
    margin-top: 0.7em;}
      h2{font-size:2.3em}
  #nav {
    font-size:1.1em;
    .logo {
        display: none;
        padding: 0 0.5em;
        width: 7em;
    }
  }

  #outils_embobiner {
      margin: 0;
      padding: 0;
      top: 0;
      width: 3%;
    }
  .inner{
    .menu.thematiques li{
      line-height: 0.9em;
      width:14. 5%;}
    .nav_hor.parties{
      li{width:13%;}     
    }  
  }

  label, input, button, select, textarea, input.submit{font-size: 0.8em;}
  legend{font-size:1.1em}
  
.thematiques body {
    h1,.h1{
      font-size:4em;
      line-height: 0.9em;}
    .descriptif, .section.thematiques .decriptif{font-size:1.1em}
    .logo {
      img{max-width:11%}
    }
  li .texte{
    padding:0.6em 0.2em;
    line-height:1em}
  .modalbox.articles {
    li {
    width: 33%;
    min-height: 35em;
    }  
  }
  .modalbox.parti { 
    .scrollable{height:25em;} 

    }  
  }
}

@media (max-width: 564px) {
   #nav {font-size:1em;} 
   .inner{
    .menu.thematiques li{width:14%;}
    .nav_hor.parties{
       li{width:13%;}     
      } 
    }
  .thematiques body {
    .section.thematiques li {padding: 1em 0.2em}
      .logo {
        img{
          padding: 0.7em 0;
        }
      }
  
    .modalbox.articles {
      li {
      width: 48%;
      }  
    }
    .modalbox.parti {
      .scrollable {height: 49em;}
      li {width: 30%;}
    }  
  }       
}

@media (max-width: 521px){
    .navbar .nav > li > a {
    padding: 0;
    }
    #nav{
          ul li{float:none}
    }
    .navbar{margin:0}
    .navbar-inner {min-height:0}
    .section {margin-bottom:1em}  
    .section.intro{
      margin-top:0;
      .nav_hor{height:8em}
      }    
    .subMenu {top:1em !important} 
      h1, .h1, .h1-like{
    font-size:1.5em;
    margin-top: 0.7em;}
    .section.intro{
        .nav_hor h2 {
            font-size: 1em;
            margin: 0 0 -2px;
        }      
      .descriptif_site {width: 100%;} 
      .nav_hor {width: 100%;}
    }
  .main{
    dl{
      padding: 0;
      width: 50%;
      }
    }    
  .thematiques body {
      h1,.h1{
      font-size:2em;
      line-height: normal;}
    .section.thematiques .descriptif, .section.thematiques .chapo{font-size:1em}
    div.logos { height: auto;}
    .modalbox.parti {
        .scrollable {height: 80em;}
        li {
          min-height: 29em;  
          width: 46%;
          }  
      }    
    }    
}

@media (max-width: 433px) {
   .inner{
     padding: 1em 0.5em;
    .menu.thematiques li{width:12%;}
    .nav_hor.parties{
       li{width:12%;}     
      } 
    }  
    
  .scrollable,.section.intro .nav_hor ul.parties{height:3.7em}
  .left,.right{width:100%}
  
  
  .modalbox {padding: 1em 1.5em;}

  .thematiques body {
    .inner {padding: 1.5em 0;}    
     a.browse {width: 24px; }
     a.browse.right{right:-1%} 
     a.browse.left{left:-1%} 

    .modalbox.article {
      .texte {
          -webkit-column-count: 1;
          -webkit-column-gap: 0px;       
          -moz-column-count: 1;
          -moz-column-gap: 0px;
          column-count: 1;
          column-gap: 0;           
          text-align: left;
          }   
      }                    
    .modalbox.articles {    
      li {
      width: 100%;
      min-height:100%;
      }  
    }
    .modalbox.parti {
      a.browse {width: 12px;}
      .scrollable{height: 150em;}       
      a.browse.left {left: -5%;}
      a.browse.right {right: -5%;}     
      } 
    }    

}

@media (max-width: 357px) {
   .inner{
    .menu.thematiques li{width:10%;}
    .nav_hor.parties{
       li{width:11%;}     
      } 
    }  
    .section.intro .nav_hor {
    width: 100%;
  }
  .thematiques body {                  

    .modalbox.parti {
      li {width: 100%;height:100%}       
      } 
    } 
}
