@import "css/variables.less";
@import "css/mixins.less";

@font-face{ font-family: 'lobster'; src: url('fonts/lobster-webfont.eot'); src: url('fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lobster-webfont.woff') format('woff'), url('fonts/lobster-webfont.ttf') format('truetype'), url('fonts/lobster-webfont.svg#webfont') format('svg'); }



//Définitions générales
body{
  background:url('images/background.png')  #272a20 50% 0 no-repeat;
  background-size: cover;
  background-attachment:fixed;
}


h1, .h1, .h1-like{
  font-family: 'lobster', Arial, sans-serif;
  font-size: 2.9em;
  line-height: 1.2em;  
  }

/*Layout*/

.row,.span8 {
    width: 100%;
}

#nav{
  position:relative;
  text-align:center;
  margin:0 auto;
  width:36em;
  font-family: 'lobster', Arial, sans-serif;
  font-size:1.6em;
  .menu-items{width:100%}
  li{margin: -1.2em 0.5em 0.5em;}
  .logo{padding-top:1.2em}
  }



/*Menu*/
.subMenu{
  width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
	}
.subMenu.fxd{width:100%}

ul.menu {
  li{float:left;list-style:none;margin:0 0.5em
  }
}

.navbar-inverse .nav > li > a.active{color:red;font-weight:bold}

.navbar-inner {
  box-shadow:none;
}

/*Les différentes blocs*/

 .section{min-height:400px;clear:both;}
 
 .inner {
   background:#ffffff;padding: 1em 2.5em;
   .menu li{width:16%}
   }


  /*Intro*/
  .section.intro{
    margin-top:@navbarHeight;
    color:white;
    text-align:center;
    .inner{background:transparent;}
    .nav_hor{
      
      clear:both;
      height:10em;
      h2{
        margin:0;
        text-align:left;
        font-size:1.2em
        }
      
      ul{
        background:#ffffff;
        height:6em;
        margin-left: 0;
        }
      }
     
    }
  
  /*Video*/
 .section.video{
   text-align:center;
  .player{min-height:400px;}
  .action{display:block;}
  }

/*Les modalboxes*/
.modalbox {
  .action{text-align:center;}  
}

.nav{position:relative}
