/* this makes it possible to add next button beside scrollable */


/* prev, next, prevPage and nextPage buttons */
a.browse {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	cursor:pointer;
	font-size:1px;
   	top:15px;
}

a.browse:focus,a.browse:active,a.browse:hover {
	background:transparent
}

/* disabled navigational button */
a.disabled img{
	opacity:0.2 !important;		
} 	

.next{right:-30px;}
.prev{left:-30px;}
